@media only screen and (min-width: 32.5em) {
  header, footer {
    border-radius: 10px;
    min-height: 100px;
  }
  .profimg {
    border-radius: 30px 100px 30px 10px;
    float: right;
    /*box-shadow: 10pt 10pt 30px rgb(57, 70, 56);*/
  }
  header {
    text-align: justify;
    font-size: 90px;
    font-family: 'Bonheur Royale', cursive;
    margin: auto;
  }
  footer {
  font-size: 25px;
  }
}