@media only screen and (min-width: 60em) {
  header, footer {
    border-radius: 15px;
    max-width: 1200px;
  }
  main {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body {
    max-width: 1200px;
  }
  header {
/*/
    text-align: justify;
    font-size: 80px;
    line-height: 85pt;
    font-family: 'Bonheur Royale', cursive;
    margin: auto;
/*/
  }
}