body {
/*  font-size: 10pt;*/
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  max-width: 800px;
  margin: auto;
}

h1 {
  font: 14pt 'Bebas Neue', cursive, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
  padding: 5px;
  grid-area: main;
}
header, footer {
  text-align: center;
/*  font-weight: bold; */
  background-color: #177047;
  color: white;
  max-width: 1000px;
  padding: .5em;
}
header {
  vertical-align: middle;
  font-size: 30px;
}
footer {
  font-size: 15px;
}

.profimg {
/*  border-radius: 2px;*/
  float: none;
  margin: auto;
}

p.subheader {
  font-weight: bold;
/*  color: #593d87;*/
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #489959;
}

a:hover, a:active {
  color: #329c5b;
}
