// color palette - these colors will be the color swatches of the Colors section

$color-1: #C3A497; // Cornflower Blue - Action color
$color-2: #F3E4CE; // Dark Blue
$color-3: #FF999C; // Red
$color-4: #99DAFF; // light grey
$color-5: #5CBEFF; // white
