body {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  line-height: 14pt;
  padding-left: 5pt;
  padding-right: 5pt;
  padding-top: 5pt;
  max-width: 800px;
  margin: auto;
}

h1 {
  font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 20pt;
}

header, footer {
  text-align: center;
  font-weight: bold;
  background-color: #177047;
  color: white;
  max-width: 800px;
  min-height: 100px;
}
header {
  font-size: 50px;
  vertical-align: middle;
}

.profimg {
  border-radius: 30px 100px 30px 10px;
  float: right;
}

p.subheader {
  font-weight: bold;
  color: #593d87;
}

img {
  padding: 3pt;
  float: right;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: #8094d6;
}

a:hover, a:active {
  color: #FF9933;
}
