/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 67rem) {
	h1 { font-size: 2rem;}
  #logo_75 {
    visibility: block;
  }
  #logo_50 {
    visibility: hidden;
  }
  #title {
    font-size: 19pt;
  }
  #slogan {
    font-size: 16pt;
  }
	nav a {
		font-size: 1.5rem;
	}
  header,
  nav,
  main,
  footer {
    font-size: 105%;
    max-width: 1200px;
  }
/*/
  nav ul li {
    padding: .6rem 1rem;
  }
/*/

} /*end large */