/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
	h1 { font-size: 1.5rem;}

  #logo_75 {
    visibility: block;
  }
  #logo_50 {
    visibility: hidden;
  }
  #title {
    font-size: 16pt;
  }
  #slogan {
    font-size: 13pt;
  }

  nav button {display: none;}

  nav ul  {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: .8rem 1rem;
  }

  nav ul.hide {display: block;}

} /*end medium */