main {
  font-family: Ubuntu, sans-serif;
  font-size: 15pt;
}
table {
  font-family: Ubuntu, sans-serif;
  font-size: 12pt;
  background-color: #e7f0ed;
  border-collapse: collapse;
  border: 1px solid #aaa;
  box-shadow: 10px 10px 10px rgba(0,100,150,.7);
  font-weight: normal;
  text-align: center;
  margin: auto;
}
tbody tr:nth-child(even), tfoot {
  background-color: #e7ffed;
}
thead {
  background-color: #628ca6;
  font-size: 115%;
  color: white;
  font-weight: 700;
  font-weight:bold;
}
thead tr:first-child {
  background-color: #7fb9c2;
  font-size: 150%;
  font-weight: 1100;
  color: black;
}
tfoot {
  background-color: #7fb9c2;
  font-size: 70%;
}
td, th {
  padding: 10px 7px;
  border: 1px solid #aaa;
}
tbody tr:nth-child(5) td:first-child {
  font-style: italic;
}
tbody tr:nth-child(4) td:nth-child(3) {
  background-color: #628ca6;
  color: white;
}
