body, .roboto {
  /*  font-size: 10pt;*/
    font-family: 'Roboto Mono', monospace;
    color: black;
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    margin: auto;
    font-size: 16px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    padding: 5px;
    grid-area: main;
  }
  main img {
    max-width: 90%;
  }
  header {
    vertical-align: middle;
    font-size: 30px;
  }
  footer {
    font-size: 15px;
  }
  header,
  footer {
    background-color: #2589bd;
    color:white;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  /*  font-weight: bold; */
    padding: .5em;
  }
  header,
  nav,
  main,
  footer {
/*  	max-width: 767px;*/
	  margin: 0 auto;
    max-width: 800px;
  }
  h1, .bebas {
    font: 14pt 'Bebas Neue', cursive, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 20pt;
  }
  nav {
    background-color: #187795;
    text-align: center;
    box-shadow: 0 1px 10px rgb(121, 190, 173);
/*/
    width: 100%;
/*/
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 0.95rem;
  }
  nav a {
    color: #5a7c50
  }
  nav a:hover {
    background-color: #5a7c50;
    color: #eaff73;
    --d: 75%;
  }
  
  p.subheader {
    font-weight: bold;
  /*  color: #593d87;*/
  }
  
  img {
    padding: 3pt;
    float: right;
  }
  
  a {
    text-decoration: none;
  }
  
  a:link, a:visited {
    color: #f46036;
  }
  
  a:hover, a:active {
    color: #d7b49e;
  }
  