/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 700px) {
  body {
    max-width: 1050px;
    /* background-color: lightgreen; */
    margin:0 auto;
  }
  nav button {display: none;}

  nav ul  {
    margin-left: 2%;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, .3);
    padding: .8rem 1rem;
  }

  nav ul.hide {display: block;}
  #hero img {
    height: 250px;
    width:100%;
  }
  #hero {
    width:100%;
  }
  #hero2 {
    visibility:visible;
    width: 45%;
    max-width: 350px;
    height:fit-content;
    order:1;
  }
  #purpose{
    order:0;
  }
  #weather{
    order:2;
    font-size: 75%;
  }
  #alert{
    order:3;
  }
  #adverts{
    order:4;
  }
  #events{
    order:5;
  }
  #joinus {
    order:6;
  }
  .widget {
    width: 45%;
  }
  #content, #content2 {
    display:flex;
    flex-flow: wrap;
  }
  #content2 {
    font-size: 120%;
    line-height: 1.2em;
  }
  #content2 a {
    font-size: 105%;
  }
  #content2 .business_name {
    font-size: 140%;
    line-height: 1.2em;
  }
  .widget2 {
    width: 45%;
  }
  #contactus, #board, #messageus {
    box-shadow: 5px 10px 15px rgba(0,0,0,.5);
  }
  #new-form {
    font-size: 90%;
    padding:5;
    display:flex;
    flex-flow: wrap;
  }
  #messageus #new-form {
    max-width: fit-content;
  }
  label {
    margin:10px;
  }
  #commentext {
    margin:5px auto;
    width: 35em;
  }
  #full-name, #email {
    width:30em;
  }
  #phone {
    width:12em;
  }
}