/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  /*  font-size: 10pt;*/
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    line-height: 1em;
    font-weight: bold;
    color: black;
    padding: 0;
    margin: auto;
    background-color: white;
  }
  body a {
    font-style: oblique;
    text-decoration: none;
    font-weight: bolder;
    color:#8ead65;
  }
  p {
    margin:.3em;
  }
  h1, h2, h3, h4 {
    font-family: 'Libre Baskerville';

  }
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    /* color: rgb(228, 234, 248); */
    color: rgba(0, 29, 74, 0.9);
  }
nav {
    /*/
      background-color: #187795;
    /*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#54b9d8+8,187795+100 */
    background: #006992; /* Old browsers */
    background: -moz-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #89d2dc 8%, #006992 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b9d8', endColorstr='#187795',GradientType=0 ); /* IE6-9 */
      text-align: center;
      box-shadow: 0 1px 10px rgb(121, 190, 173);
    font-family: 'Anton', sans-serif;
    font-size: larger;
    line-height: 2em;
  }
  #title {
    font-family: 'Anton', sans-serif;
  }
        
nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    
nav ul li a {
      display: block;
      color: #06357a;
      text-align: center;
      padding: 0.75rem;
      text-decoration: none;
      font-size: 0.95rem;
      border: 1px solid rgba(0,0,0,.3);
    }
    nav ul li a:hover {background-color: rgba(0,0,0,.4); animation: glow 1s ease-in-out infinite alternate;}

    .hide {
      display:none;
    }
        @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 5px #fff, 0 0 35px #0023e6;
      }
      to {
        text-shadow: 0 0 40px #4dafff;
      }
    }
    
    @keyframes glow {
      from {
        text-shadow: 0 0 5px #fff, 0 0 35px #0023e6;
      }
      to {
        text-shadow: 0 0 40px #4dafff;
      }
    }
    @-webkit-keyframes glow2 {
      from {
        text-shadow: 0 0 25px #fff, 0 0 45px #fff;
      }
      to {
        text-shadow: 0 0 75px #fff;
      }
    }
    
    @keyframes glow2 {
      from {
        text-shadow: 0 0 25px #fff, 0 0 45px #fff;
      }
      to {
        text-shadow: 0 0 75px #fff;
      }
    }
    .active {
      background-color: rgba(0,0,0,.2);
      color: rgba(0, 29, 74, 0.8);
      animation: glow 1s ease-in-out infinite alternate;
    }
    footer {
      font-size: 12px;
    }
    header,
    footer {
      color:white;
      align-items: center;
      justify-content: center;
      text-align: center;
    /*  font-weight: bold; */
    }
    footer{
      background: -moz-linear-gradient(top,  #006992 8%, #579ca5 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #006992 8%, #579ca5 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #006992 8%, #579ca5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    #acknowledge {
      float: left;
    }
    #acknowledge a {
      color:rgb(92, 4, 4);
      font-weight: bolder;
    }
    main {
      background-color: #89d2dc;
      background: -moz-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  #89d2dc 8%, #006992 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }
    .headtext {
      font-size: 17pt;
      display:flex;
      align-items: center;
      vertical-align: middle;
      width:fit-content;
      position: absolute;
      right:1em;
      top:2em;
      color:white;
      font-weight: bolder;
      background-color: rgba(0,29,74,.6);
      padding: 5px;
      z-index: 5;
    }
    main {
      position: relative;
    }
    .headtext img {
      height: 50px;
    }
    .headtext2 {
      font-size: 17pt;
      display:flex;
      align-items: center;
      vertical-align: middle;
      width:fit-content;
      position: absolute;
      right:0;
      top:0;
      color:white;
      font-weight: bolder;
      background-color: rgba(0,29,74,.6);
      padding: 5px;
      z-index: 5;
    }
    .headtext2 img {
      height: 40px;
    }
    #content, #content2 {
      padding-bottom: 5px;
    }
  #hero img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #hero2 {
    visibility: hidden;
    width: 45%;
    max-width: 500px;
    height: 0%;
  }
  #hero2 img {
    width:100%;
  }
  .widget {
    display: block;
    margin: 5px auto;
    /* border: 5px dotted #fff; */
    padding: 10px;
    /* background-color: rgba(137, 174, 243,30%); */
    width: 100%;
  }
  #content3 .widget {
    align-content: left;
    height:fit-content;
  }
  #content2 .widget2 {
    box-shadow: 5px 10px 15px rgba(0,0,0,.5);
  }

 #purpose {
   background-color: rgba(255, 255, 255, 0.3);
 }
 #weather {
   background-color: #bce784;
   height:fit-content;
   text-align: center;
   display: flex;
  }
  .w_data {
    color:rgb(72, 94, 136);
    font-weight: bolder;
  }
 #alert {
   background-color: #e86a92;
   width:100%;
 }
 #adverts {
   background-color: seashell;
 }
 #events {
   background-color:rgba(147, 255, 255,.5);
 }
 #joinus {
   text-align: center;
   background-color:rgba(14, 25, 25,.1);
   height:fit-content;
   align-content: center;
 }
 .business_info{
   grid-template-columns: 1fr 3fr;
   width:95%;
   padding: .5em;
   margin:.5em auto;
   background-color: white;
   height:fit-content;
   vertical-align: middle;
 }
 #content .business_info, #content2 .business_info {
  min-height: 120px;
 }
  #content3 .business_info{
   width:95%;
  max-height: fit-content;
  vertical-align: middle;
  align-content:left;
  display:flex;
  flex-flow: wrap;
}
#content3 .business_info img {
  max-width:2px;
}
.business_name, .business_address, .business_phone, .business_site {
  padding:0 3px;
}
  .business_name{
   vertical-align: middle;
   align-content: center;
  }
 .business_logo{
  vertical-align: middle;
  align-content: center;
  float: right;
  padding-right:.5em;
  max-height: 95px;
  margin: 5px;
}
.business_address{
  vertical-align: middle;
  align-content: center;
}
.business_phone{
  vertical-align: middle;
  align-content: center;
}
.business_site{
  vertical-align: middle;
  align-content: center;
}
#adverts img {
  max-width: 50%;
}
.label, #future1, #future2, #future3 {
  text-align: right;
  font-weight: bolder;
  width:50%;
  padding: 2px 6px;
}
#current, #forecast {
  display:flex;
  flex-flow: wrap;
}


#terminator {
  display:flex;
  flex-direction: column;
}
#innermator {
  display:flex;
  flex-direction: column;
  width: 45%;
  margin:auto;
}
#terminator a {
  color: white;
}
#terminator img {
  margin: 2px;
}
#socialmedia {
  display: none;
}
#contact {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 5em 1fr;
}
#contactus {
  width:fit-content;
  margin:auto;
  background-color: white;
  padding:20;
}
#board {
  background-color:white;
}
#messageus {
  background-color: white;
  padding:7px;
  margin:10 auto;
}
#content #contact :nth-child(1) {
  grid-column: 0/2;
}
#googleframe{
  width: 600;
  max-width: 90%;
  height: 250;
}
#googlemap {
  margin:auto;
  padding:10px;
}

#options {
  display:flex;
  padding:1em;
  height:4em;
}
#options img {
  width: 50px;
  padding: 0 10px;
}
#content2 {
  background:rgba(50,100,200,.15);
  width:95%;
  margin:auto;
  font-size: 110%;
  color:#555555;
  padding:5;
}
#content3 {
  background:white;
  max-width:fit-content;
  margin:auto;
  font-size: 110%;
  color:#555555;
  padding-bottom: 5px;
}
#content2 a,#content3 a {
  font-size: 75%;
}
#content2 .business_name, #content3 .business_name {
  font-weight: bold;
  font-size: 120%;
  color:black;
}
#content2 img {
  max-height: 100px;
  max-width: 50%;
}
#content3 img {
  visibility: hidden;
}
#new-form {
  display:flex;
  flex-flow: column;
  font-size: 95%;
}
label {
  margin: 10px 0;
  display:flex;
  flex-flow: column-reverse;
}
label input + div, label textarea + div {
  color: black;
  transition: color, text-shadow;
  transition-duration: .7s;
  transition-timing-function: ease-in-out;
}
label input:focus + div, label textarea:focus + div {
  color: rgb(202, 40, 154);
  text-shadow: 0 0 10px rgb(228, 255, 105);
  transition: color, text-shadow;
  transition-duration: .7s;
  transition-timing-function: ease-in-out;
}
#submit {
  display: block;
  margin:auto;
}

