/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  /*  font-size: 10pt;*/
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    line-height: 1em;
    color: black;
    padding: 0;
    margin: auto;
    background-color: white;
  }
  body a {
    font-style: oblique;
    text-decoration: none;
    font-weight: bolder;
  }
  p {
    margin:.3em;
  }
  h1, h2, h3, h4 {
    font-family: 'Libre Baskerville';

  }
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    /* color: rgb(228, 234, 248); */
    color: rgba(0, 29, 74, 0.9);
  }
nav {
    /*/
      background-color: #187795;
    /*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#54b9d8+8,187795+100 */
    background: #006992; /* Old browsers */
    background: -moz-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #89d2dc 8%, #006992 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #89d2dc 8%, #006992 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b9d8', endColorstr='#187795',GradientType=0 ); /* IE6-9 */
      text-align: center;
      box-shadow: 0 1px 10px rgb(121, 190, 173);
    font-family: 'Anton', sans-serif;
    font-size: larger;
    line-height: 2em;
  }
  #title {
    font-family: 'Anton', sans-serif;
  }
        
nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
    
nav ul li a {
      display: block;
      color: #001d4a;
      text-align: center;
      padding: 0.75rem;
      text-decoration: none;
      font-size: 0.95rem;
      border: 1px solid rgba(0,0,0,.3);
    }
    nav ul li a:hover {background-color: rgba(0,0,0,.4); animation: glow 1s ease-in-out infinite alternate;}

    nav ul.hide {display: none;}
        @-webkit-keyframes glow {
      from {
        text-shadow: 0 0 5px #fff, 0 0 35px #0023e6;
      }
      to {
        text-shadow: 0 0 40px #4dafff;
      }
    }
    
    @keyframes glow {
      from {
        text-shadow: 0 0 5px #fff, 0 0 35px #0023e6;
      }
      to {
        text-shadow: 0 0 40px #4dafff;
      }
    }
    @-webkit-keyframes glow2 {
      from {
        text-shadow: 0 0 25px #fff, 0 0 45px #fff;
      }
      to {
        text-shadow: 0 0 75px #fff;
      }
    }
    
    @keyframes glow2 {
      from {
        text-shadow: 0 0 25px #fff, 0 0 45px #fff;
      }
      to {
        text-shadow: 0 0 75px #fff;
      }
    }
    .active {
      background-color: rgba(0,0,0,.2);
      color: rgba(0, 29, 74, 0.8);
      animation: glow 1s ease-in-out infinite alternate;
    }
    footer {
      font-size: 12px;
    }
    header,
    footer {
      background-color: #006992;
      color:white;
      align-items: center;
      justify-content: center;
      text-align: center;
    /*  font-weight: bold; */
    }
    main {
      background-color: #89d2dc;
    }
    .headtext {
      font-size: 17pt;
      display:flex;
      align-items: center;
      vertical-align: middle;
      width:fit-content;
      position: absolute;
      right:1em;
      top:2em;
      color:white;
      font-weight: bolder;
      background-color: rgba(0,29,74,.6);
      padding: 5px;
    }
    main {
      position: relative;
    }
    .headtext img {
      height: 50px;
    }
  #hero img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #hero2 {
    visibility: hidden;
    width: 45%;
    max-width: 500px;
    height: 0%;
  }
  #hero2 img {
    width:100%;
  }
  .widget {
    display: block;
    margin: 5px auto;
    /* border: 5px dotted #fff; */
    padding: 10px;
    /* background-color: rgba(137, 174, 243,30%); */
    width: 100%;
  }
 #purpose {
   background-color: rgba(255, 255, 255, 0.3);
 }
 #weather {
   background-color: #bce784;
 }
 #alert {
   background-color: #e86a92;
   width:100%;
 }
 #adverts {
   background-color: seashell;
 }
 #events {
   background-color:rgba(0,128,128,.50);
 }
 #joinus {
   text-align: center;
 }
